<!DOCTYPE html>
<html>
<head>
	 <meta name="viewport" content="width=device-width, ©tial-scale=1.0">
		<script type="text/javascript">var switchTo5x=true;</script>
		<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
		<script type="text/javascript">stLight.options({publisher: "e8fccde3-5a42-48c0-960d-c5883f881b23", doNotHash: false, doNotCopy: false, headerTitle: true, hashAddressBar: false});</script>

  <title>Me</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/header' %>
<div class="container">
<%= yield %>
</div>
<%= render 'layouts/footer' %>
</body>
</html>
